.title h3 {
  color: #005ba1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
p,
a {
  font-family: "Poppins", sans-serif;
}
a {
  cursor: pointer;
}
.eventtext h2,
.ourevent .title h3,
.third h3 {
  color: #ffffff;
}
.header {
  background-color: #f5f5f5;
}
.headnav {
  padding-top: 5px;
  padding-bottom: 5px;
}
.toptext {
  padding-top: 15px;
}
.toptext p {
  display: inline-block;
  padding-left: 20px;
}
.toptext p i {
  padding-right: 10px;
}
.toptext p:first-child {
  padding-left: 0px;
}
.icon ul {
  float: right;
  margin: 0px;
  padding-top: 20px;
}
.icon ul li {
  font-size: 15px;
  color: #fefefc;
  background-color: #004e8c;
  padding: 5px 7px;
  display: inline-block;
}
.icon ul li a {
  text-decoration: none;
  color: #fefefc;
}
.icon ul li a:hover {
  color: #111111;
  transition-delay: 200ms;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.log {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.top .title {
  width: 50%;
  padding-top: 150px;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}
.text1 {
  padding: 0px 0px 20px 0px;
  position: relative;
}
.top .title h3 {
  position: relative;
  padding-bottom: 15px;
  color: #ffffff;
}
.top .title h3::after {
  content: "";
  background-color: #ffffff;
  width: 45%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.text2 {
  padding: 10px 0px 40px 0px;
}
.top {
  background-image: url("../Pics/top.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 200px;
}
.top::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}
.top1 {
  background-image: url(../Pics/news1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 290px;
}
.banner {
  position: relative;
}
.banner .slick-next {
  transform: none;
  right: 0px;
}
.banner .slick-prev {
  transform: none;
  left: 0px;
  z-index: 1;
}
.white {
  color: #ffffff;
  font-size: 13px;
  padding-top: 10px;
}
.topbar {
  background-color: #005ca1;
  padding-bottom: 10px;
}
.c {
  background-color: #005ca1;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 30px;
  border: 0px;
  border-radius: 0px;
  transition-delay: 300ms;
  position: relative;
}
.c:hover {
  background-color: #0000ff;
}
.c::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 20px;
  font-size: 14px;
}
.searchbar {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
  display: flex;
  padding-top: 65px;
  z-index: 1;
  transition-delay: 300ms;
}
.searchbar form button {
  border: none;
  float: right;
  border-radius: 40px;
  background: transparent;
  padding: 5px 20px;
  position: absolute;
  right: 0px;
  top: 65px;
}
.searchbar form button:hover {
  background-color: #0de5f5;
}
.searchbar form button:focus {
  outline: none;
}
.searchbar input {
  border: none;
  outline: none;
  padding-right: 50px;
  padding-left: 20px;
  border-radius: 40px;
  background: transparent;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 0px;
  border: none;
  background-color: #f5f5f5;
  font-weight: 900;
}
.searchbar form {
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 -5px 10px 0 rgba(0, 0, 0, 0.12);
}
.bar {
  padding-top: 10px;
  height: 100%;
}
.bar .navbar-nav {
  background-color: #f5f5f5;
  height: 100%;
  display: block;
}
.bar .navbar-nav div.searchbar {
  background-color: transparent;
}
.bar .navbar-nav a {
  font-size: 14px;
  font-weight: 600;
}
.sicon {
  padding-top: 10px;
  cursor: pointer;
  position: relative;
  width: 5%;
  float: right;
}
.sicon i {
  float: right;
}
div.navibar {
  height: inherit;
  width: 95%;
  float: left;
}
ul.navbar-nav {
  float: right;
}
.bar ul li {
  display: inline-block;
  height: inherit;
}
.navbar-light .navbar-nav .nav-link {
  color: #484848;
}

.drop-cont {
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
  flex-wrap: wrap;
  transition: top 300ms linear;
  z-index: 2;
}
.drop-cont ul {
  list-style: none;
  flex: 33%;
  padding-bottom: 10px;
  display: block;
}
.drop-cont ul li {
  padding: 5px 0px;
  display: block;
}
.navbar-nav ul li:nth-child(3):hover .drop-cont {
  display: flex;
  top: 60px;
}
.drop-cont-events {
  top: 0px;
  position: absolute;
  display: none;
  transition: top 300ms linear;
  z-index: 1;
  background-color: #f5f5f5;
}
.drop-cont-events ul {
  list-style: none;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}
.drop-cont-events ul li {
  padding: 5px 40px 5px 20px;
  display: block;
}
.drop-cont-events ul li:nth-child(2) {
  position: relative;
}
.drop-cont-link {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  transition: left 300ms linear;
  background-color: #f5f5f5;
}
.drop-cont-link ul {
  padding-right: 0px;
  padding-left: 0px;
  display: block;
}
.navbar-nav ul li:nth-child(4):hover .drop-cont-events {
  display: block;
  top: 60px;
}
.drop-cont-events ul li:nth-child(2):hover .drop-cont-link {
  display: block;
  left: 90px;
}
.navbar-expand-md .navbar-collapse {
  height: inherit;
}
.bar ul li a {
  color: #484848;
}
.mob-nav {
  display: none;
}
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1;
}
@media (max-width: 768px) {
  .log {
    display: block;
  }
  .sicon {
    position: relative;
    width: auto;
    padding-bottom: 10px;
  }
  .sicon i {
    float: right;
  }
  .searchbar {
    position: absolute;
    padding-top: 45px;
  }
  .searchbar form button {
    position: absolute;
    top: 45px;
    right: 0px;
  }
  .closebtn {
    position: absolute;
    bottom: 30px;
    right: 0px;
    padding-bottom: 0px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 10px;
  }
  .drop-cont {
    position: static;
  }
  .drop-cont ul {
    padding-left: 20px;
    flex: 100%;
  }
  .bar ul li {
    display: block;
    height: auto;
  }
  .navbar-expand-md .navbar-collapse {
    height: auto;
  }
  .bar .navbar-nav {
    height: auto;
    width: 100%;
    display: flex;
  }
  .bar {
    height: auto;
  }
  .drop-cont-events {
    position: static;
  }
  .drop-cont-link {
    position: static;
  }
  .drop-cont-link ul {
    padding-left: 0px;
  }
  .drop-cont-link ul li {
    padding-left: 0px;
    padding-right: 0px;
  }
  .mob-nav {
    display: block;
    float: right;
  }
  .navibar {
    display: none;
  }
}
/*about us css*/
.aboutus {
  padding-top: 20px;
}
.im {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 40px;
}
.aboutus .title {
  padding-top: 40px;
}
.second ul {
  list-style: none;
  position: relative;
}
.second ul li {
  display: inline-block;
  list-style-type: none;
}
.second li {
  padding-top: 20px;
}
.second ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 25px;
  color: #005ba1;
  position: absolute;
  cursor: grabbing;
}
.abintext {
  padding-top: 20px;
}
.abouttext a.c {
  text-align: left;
  padding: 15px 30px 15px 30px;
  bottom: 0px;
  font-size: 17px;
  position: absolute;
}
.abouttext a.c::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 40px;
}
.abouttext {
  padding-left: 10px;
  font-size: 15px;
  line-height: 16px;
  padding-bottom: 100px;
}
.second p:first-child {
  font-weight: 800;
  padding-bottom: 10px;
  margin-bottom: 0px;
  color: #005ba1;
  cursor: grabbing;
}
.abintext p:first-child {
  line-height: 1.2;
  font-size: 16px;
  color: #7a7a7a;
}
.abtext {
  padding-left: 10px;
}
.second ul {
  padding-left: 0px;
}
.second ul li {
  position: relative;
  width: 100%;
}
.second ul li::after {
  content: "";
  border-bottom: solid 0.5px #ededef;
  height: 2%;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.second ul li:last-child::after {
  content: "";
  border: hidden;
}
.second ul li p {
  padding-left: 30px;
}
/*Our Courses Css*/
.ourcourses {
  padding-top: 80px;
  padding-bottom: 50px;
}
.ourcourses .title {
  padding-bottom: 40px;
}
.headc1 {
  color: #fe5252;
}
.headc2 {
  color: #28ca5d;
}
.headc3 {
  color: #f9cd64;
}
.headc4 {
  color: #aa3dfa;
}
.headc5 {
  color: #3ecafd;
}
.headc6 {
  color: #3d5bfb;
}
.ourbox p:first-child {
  margin-bottom: 0px;
  font-size: 17px;
  color: #005da0;
  font-weight: bold;
  padding: 0px;
  line-height: initial;
}
.ourbox p {
  font-size: 15px;
  color: #676767;
  padding-bottom: 20px;
  line-height: 20px;
}
.ourcol {
  color: #005da0;
  font-weight: bold;
}
.ourbox {
  padding-bottom: 20px;
}
.ourbox h5 {
  margin-bottom: 0px;
}
/*Our Events Css*/
.ourevent {
  background-image: url("..//Pics/news1.jpg");
  background-size: cover;
  position: relative;
  padding-bottom: 40px;
}
.ourevent::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
}
.ourevbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.ourevent .title {
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  color: #ffffff;
}
.box {
  padding-bottom: 90px;
  background-image: url("..//Pics/news3.jpg");
  background-size: cover;
  border-radius: 10px;
  flex: 45%;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.inbox {
  background-color: #005ba1;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  color: #ffffff;
  width: 55%;
  float: right;
}
.inbox h4.title {
  padding: 0px;
}
.indate {
  display: flex;
  flex-wrap: wrap;
}
.intext {
  padding-top: 20px;
  padding-left: 10px;
  position: relative;
  flex: 40%;
}
.intext::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 3px;
  height: 70%;
  top: 15px;
  right: 0px;
}
.intext1 {
  font-size: 25px;
  font-weight: 700;
  padding-left: 20px;
}
.intext3 {
  color: #ffffff;
  padding-top: 40px;
  font-size: 13px;
}
.intext2 {
  font-size: 12px;
}
.box2 {
  background-image: url("..//Pics/news2.jpg");
  background-size: cover;
  border-radius: 10px;
  padding-bottom: 90px;
  flex: 45%;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}
.ourevent a.c {
  margin-top: 40px;
  position: relative;
}
.inbox a.c {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  border: solid 2px;
  border-radius: 25px;
  border-color: #ffffff;
}
.inbox a.c::after {
  content: "";
  padding: 0px;
}
.lnbox:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .box,
  .box2 {
    flex: 100%;
  }
}
.inadd {
  flex: 40%;
  padding-left: 5px;
}
/*latest news CSS*/
.latestnews {
  padding-top: 40px;
  padding-bottom: 40px;
}
.lbox {
  box-shadow: 3px 3px #fbfbfb;
  padding-bottom: 40px;
  transition-delay: 300ms;
}
.news1 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.ndate::after {
  content: "";
  background-color: #bad3e7;
  position: absolute;
  height: 1%;
  width: 80%;
  right: 130px;
  top: 12px;
}
.ndate::before {
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  padding-right: 10px;
}
.ndate {
  float: right;
  font-size: 15px;
  color: #666666;
  padding-right: 15px;
  position: relative;
  color: #666666;
}
.latestnews .title {
  padding-bottom: 20px;
  padding-top: 10px;
}
.pad {
  padding-top: 30px;
}
a .ntext {
  color: #005ba1;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 12x;
  padding-bottom: 0px;
  font-weight: bold;
}
a .ntext1 {
  color: #000000;
  text-decoration-style: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  position: relative;
}
.lbox a:hover {
  text-decoration: none;
}
.lbox:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/*Voice CSS*/
.voice {
  background-position: right;
  position: relative;
}
.voicefir .title {
  padding-top: 40px;
  padding-bottom: 20px;
}
.voicefir .title h2,
.voicefir .title h3 {
  padding: 0px;
}
.vbtext2 {
  margin-top: -20px;
}
.vbtext1 {
  color: #005ba1;
}
.vbox {
  padding-bottom: 20px;
  align-items: center;
  display: flex;
}
.vimg {
  object-fit: cover;
  width: 20vh;
  height: 20vh;
  border-radius: 15px;
}
.vbox1 {
  font-size: 15px;
  line-height: 17px;
  padding-top: 20px;
  color: #969696;
}
.third {
  color: #ffffff;
  object-fit: cover;
  padding-top: 40px;
  padding-left: 40px;
  position: relative;
  margin: 0px;
}
.third ul {
  line-height: 50px;
  padding-top: 40px;
  list-style-type: none;
  padding-left: 0px;
}
.third ul li {
  border-bottom: solid 0.5px #a6a7a9;
}
.third ul li a {
  color: #ffffff;
  font-size: large;
  text-decoration: none;
  font-size: 15px;
}
.third li a:hover {
  text-decoration: underline;
}
.voicefir {
  padding-right: 30px;
}
.voicesec {
  background-image: url("..//Pics/voice2.jpg");
  background-size: cover;
  position: relative;
  padding-bottom: 80px;
}
.voicesec::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
.vbimg {
  flex: 30%;
}
.vbtext {
  flex: 70%;
}
.voicefir .slick-dots li button:before {
  font-size: 12px;
}
/*End Css*/
.end {
  background-color: #005ba1;
  color: #ffffff;
  padding-bottom: 10px;
}
.end1 {
  border-bottom: solid 0.5px #4285b9;
  padding-top: 10px;
  padding-bottom: 0px;
}
.end2 {
  border-right: solid 0.5px #4285b9;
  padding-top: 60px;
  padding-bottom: 45px;
  display: inline-block;
  width: 100%;
  position: relative;
}
.end3 {
  border-right: solid 0.5px #4285b9;
  padding-top: 60px;
  padding-bottom: 25px;
  display: inline-block;
  width: 100%;
}
.end4 {
  padding-top: 60px;
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
}
.end5 {
  padding-top: 70px;
  border-bottom: solid 0.5px #4285b9;
  padding-bottom: 10px;
  position: relative;
}
.end5 h6::after {
  content: "";
  background-color: #679ec7;
  height: 2px;
  width: 23%;
  position: absolute;
  padding: 0px;
  top: 30px;
  left: 15px;
}
.end5 ul {
  list-style-type: none;
  line-height: 30px;
  padding-left: 0px;
  padding-top: 20px;
}
.end5 ul li a {
  color: #ffffff;
  font-size: small;
  text-decoration: none;
}
.end5 li a:hover {
  text-decoration: underline;
}
.copyr {
  opacity: 1;
  font-size: small;
  background-color: #005ba1;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
}
.endtext {
  padding-left: 50px;
}
.end1 i {
  font-size: 25px;
}
.endicon ul {
  float: right;
  margin: 0px;
  background-color: #005ba1;
  padding-top: 40px;
  font-size: 15px;
}
.endicon ul li {
  display: inline-block;
}
.endicon ul li i {
  padding-top: 0px;
  display: inline-block;
  background-color: #005ba1;
  padding-left: 5px;
  padding-right: 10px;
  color: #679ec5;
  font-size: 15px;
}
.copyr1 {
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  float: left;
  padding-top: 40px;
}
.copyr1:hover {
  color: #ffffff;
  text-decoration: underline;
}
.endicon ul li a i:hover {
  color: #111111;
  transition-delay: 200ms;
}
.footer {
  background-color: #005ba1;
  color: #ffffff;
}
.end2::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 28px;
  position: absolute;
  top: 53px;
}
.end3::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 28px;
  position: absolute;
  top: 53px;
}
.end4::before {
  content: "\f879";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 28px;
  position: absolute;
  top: 53px;
}
.endtext p {
  font-size: 15px;
}
.end6 {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
}
.end6 a {
  width: 84px;
  height: 84px;
}
.eimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eimg:hover {
  mix-blend-mode: lighten;
  transition-delay: 200ms;
}
.aboutintext {
  flex: 60%;
  padding-left: 40px;
}
.aboutin {
  display: flex;
  flex-wrap: wrap;
}
.aboutimage {
  flex: 45%;
}
.aboutintext {
  flex: 55%;
  padding-left: 40px;
  position: relative;
}
@media (max-width: 768px) {
  .aboutimage,
  .aboutintext {
    flex: 100%;
  }
}
/* Submission Forum*/
.form {
  padding-top: 40px;
  padding-bottom: 80px;
  background-image: url("../Pics/form1.jpg");
  color: #000000;
  position: relative;
  background-size: cover;
}
.form::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
.inform {
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}
.inform button {
  position: relative;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border: none;
}
.form .title h2 {
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}
.inform label {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  display: inline-block;
  position: relative;
  width: 30%;
}
.inform h3 {
  position: relative;
  padding-left: 20px;
}
.inform span input {
  background: transparent;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 3px;
  padding: 10px 10px 10px 30px;
  outline: none;
  color: #000;
  position: absolute;
  width: 65%;
  top: 10px;
}
.inform input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.inform input[type="date"] {
  color: #000;
}
.inform input:focus {
  border-color: #000;
}
.inform input[type="radio"] {
  width: initial;
  position: static;
}
.inform::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  padding-bottom: 40px;
}
.inform i {
  position: absolute;
  padding-top: 25px;
  padding-left: 5px;
}
.insideform {
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.insideform span {
  flex: 50%;
  position: relative;
}
.inform span:nth-child(5) label {
  padding-bottom: 12px;
  width: auto;
}
.inform span:nth-child(5) label:first-child {
  width: 30%;
}

.form-btn {
  padding: 20px 0px 0px 20px;
}
.form-btn button {
  background-color: rgb(91, 58, 106);
}
.insideform select {
  background: transparent;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 3px;
  position: absolute;
  top: 20px;
}
@media (max-width: 768px) {
  .inform span {
    flex: 100%;
  }
}
/*newsletter CSS*/
.newsletter {
  color: #fff;
  padding: 0px 30px 0px 30px;
}
.newsletter span:first-child {
  padding-left: 10px;
}
.innewsletter {
  display: flex;
  border: solid 2px #fff;
  border-radius: 30px;
}
.innewsletter input {
  padding: 12px 30px;
  background: transparent;
  outline: none;
  border-radius: 3px;
  color: #fff;
  flex: 60%;
  border: none;
}
.innewsletter input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.innewsletter .c {
  border: solid #ffffff 1px;
  padding: 8px 10px;
  color: #ffffff;
  flex: 40%;
  border: none;
  border-radius: 30px;
}
.innewsletter .c:focus {
  outline: none;
}
.innewsletter .c:hover {
  background-color: #ffffff;
  color: #000;
}
@media (max-width: 768px) {
  .newsletter {
    padding-top: 20px;
  }
  .innewsletter {
    display: block;
    border: none;
  }
  .innewsletter input {
    border: solid 1px #ffffff;
  }
  .innewsletter .c {
    border: solid 1px #ffffff;
    margin-top: 10px;
    border-radius: 0px;
    text-align: center;
  }
  .abintext p:first-child {
    font-size: 11px;
  }
  .ourbox p {
    font-size: 10px;
  }
  .ourbox p:first-child {
    font-size: 10px;
  }
  .intext2 {
    font-size: 8px;
  }
  a .ntext1 {
    font-size: 10px;
  }
  .ndate {
    font-size: 10px;
  }
  .third ul li a {
    font-size: 10px;
  }
  label {
    font-size: 12px;
  }
  input::placeholder {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
  select {
    font-size: 12px;
    position: absolute;
    top: 22px;
  }
  select option {
    font-size: 10px;
  }
  .endtext p {
    font-size: 10px;
  }
  h5 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 1rem;
  }
  .end5 ul li a {
    font-size: 10px;
  }
  .intext3 {
    font-size: 10px;
    padding-top: 10px;
  }
  .intext1 {
    padding: 0px;
  }
  .c {
    font-size: 12px;
  }
  .inbox a.c {
    font-size: 12px;
    padding: 10px 20px;
  }
  .intext {
    padding: 5px 0px 0px 0px;
  }
  .intext::after {
    content: "";
    background-color: none;
    height: 0;
  }
  .vbtext {
    padding-left: 20px;
  }
  .aboutintext {
    padding: 0px;
  }
  .abouttext {
    padding-left: 0px;
    padding-bottom: 30px;
  }
  .abouttext a.c {
    font-size: 12px;
  }
  .box {
    background-position: center;
  }
  .top .title {
    width: 100%;
  }
  .toptext p {
    padding: 0px;
  }
  .inform span input[type="date"] {
    font-size: 12px;
  }
}
/* About Us Banner Css*/
.aboutusbanner {
  background-image: url("../Pics/AboutUs1.jpg");
  background-size: cover;
  background-position: 10% 30%;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
}
.banner-text {
  width: 50%;
  background-color: rgba(245, 245, 245, 0.7);
  padding: 10px 20px 30px 20px;
  color: #000;
  transition-delay: 200ms;
}
.overflow-text {
  display: none;
}
.aboutusbanner button {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
}
.aboutusbanner button:hover {
  color: #00f;
}
.aboutusbanner button:focus {
  outline: none;
}
button#lesstxt {
  display: none;
}
@media (max-width: 768px) {
  .banner-text {
    width: 100%;
  }
}
/*History Css*/
.history {
  padding: 60px 0px;
}
.history .text p {
  padding-bottom: 40px;
}
.history .text p:first-child {
  padding-bottom: 0px;
}
.history h3 {
  padding-bottom: 20px;
}
.timeline ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}
.timeline ul li {
  flex: 20%;
  position: relative;
  text-align: center;
  padding-top: 10px;
}
.timeline ul li::before {
  content: "";
  background-color: #000;
  height: 2%;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 5px;
}
.timeline ul li::after {
  content: "";
  background-color: #111;
  height: 13px;
  border-radius: 50%;
  width: 13px;
  position: absolute;
  top: 0px;
}
.timeText {
  width: 10%;
  background-color: #005ba1;
  color: #fff;
  display: none;
  transition-delay: 3s;
}
.timeText img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.timeText p {
  margin-bottom: 0px;
  font-size: 10px;
  padding: 0px 3px 5px 1px;
}
.timeline ul li:hover .timeText {
  display: block;
  position: fixed;
}
@media (max-width: 768px) {
  .timeText img {
    width: 100px;
  }
  .timeText p {
    width: 100px;
    background-color: #005ba1;
  }
  .timeText {
    left: -20px;
  }
  .timeline ul li:last-child .timeText {
    left: -30px;
  }
}
/*View CSS*/
.description {
  background-color: #777777;
  padding: 40px 0px;
  color: #fff;
  text-align: center;
}
.inDescription {
  display: flex;
  flex-wrap: wrap;
}
.viewtext {
  flex: 20%;
  text-align: start;
  padding-bottom: 20px;
}
.viewtext p {
  font-weight: 800;
}
.description .title {
  padding-bottom: 10px;
  text-align: start;
}
.b {
  background-color: #777777;
  border: solid 1px #fff;
  border-radius: 30px;
}
.b:hover {
  background-color: #ffffff;
  color: #000;
}
.b p {
  margin: 0px;
}
@media (max-width: 768px) {
  .viewtext {
    flex: 50%;
  }
}
/*Mission & Vision CSS */
.mission {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f0f1f5;
  position: relative;
}
.inMission {
  display: flex;
  flex-wrap: wrap;
}
.mission .title {
  padding: 0px 0px 20px 0px;
}
.slideshow {
  overflow: hidden;
  flex: 40%;
}
.missionText {
  flex: 60%;
  padding-left: 30px;
}
.myslide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text ul {
  padding-left: 0px;
  list-style-type: none;
}
.text ul li {
  position: relative;
}
.text ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  font-size: 20px;
  left: 0;
  cursor: grabbing;
}
.text ul li p {
  padding-left: 25px;
}
.inMission .slick-list {
  height: 100%;
}
.inMission .slick-track {
  height: inherit;
}
@media (max-width: 768px) {
  .slideshow,
  .missionText {
    flex: 100%;
  }
  .missionText {
    padding-left: 0px;
  }
}
/*Values Css*/
.values {
  padding: 60px 0px 20px 0px;
  background-image: url("../Pics/Form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
}
.values .title {
  position: relative;
  padding-bottom: 20px;
}
.values .title h3 {
  color: #ffffff;
}
.values::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
.inValues {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.valueBox {
  flex: 30%;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #888;
  color: rgb(255, 251, 251);
  box-shadow: 3px 3px 2px rgba(153, 153, 153, 0.2);
}
.valueBox:hover {
  box-shadow: 0 2px 5px 3px rgba(153, 153, 153, 0.3),
    0 -5px 10px 3px rgba(153, 153, 153, 0.2);
}
.valueBox:first-child,
.valueBox:nth-child(4) {
  margin-left: 0px;
}
.valueBox h4 {
  color: #fff;
}
@media (max-width: 768px) {
  .valueBox {
    flex: 45%;
  }
  .valueBox:nth-child(1),
  .valueBox:nth-child(3),
  .valueBox:nth-child(5) {
    margin-left: 0px;
  }
  .valueBox:nth-child(4) {
    margin-left: 20px;
  }
}
@media (max-width: 400px) {
  .valueBox {
    flex: 100%;
    margin-left: 0px;
  }
  .valueBox:nth-child(4) {
    margin-left: 0px;
  }
}
/* our quotes CSS */
.ourQuotes {
  padding: 50px 0px;
  background-color: #b1bdca;
  color: #333;
}
.quotesSlide-cont {
  padding-top: 20px;
  text-align: center;
}
.quotesSlide-cont blockquote p {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  text-align: start;
  padding-left: 25px;
  line-height: 1.7;
}
.quotesSlide-cont blockquote p::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -10px;
  left: 3px;
  opacity: 0.5;
}
.quotesSlide-cont blockquote p::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  bottom: 10px;
  opacity: 0.5;
}
/* Our Team CSS */
.ourTeams {
  padding: 50px 0px;
}
.ourTeams .title {
  padding-bottom: 40px;
}
.teamdescription {
  display: flex;
}
.teamdescription .teamtext {
  flex: 80%;
}
.teamdescription .teampic {
  flex: 20%;
}
.teampic img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.teamtext p {
  font-size: 13px;
  padding-right: 10px;
}
/* Programs progbanner CSS */
.progbanner {
  padding-top: 150px;
  padding-bottom: 250px;
  background-image: url("../Pics/program-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.progbanner a {
  background-color: #005ca1;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 30px;
  border: 0px;
  border-radius: 0px;
  transition-delay: 300ms;
}
.progbanner a::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 20px;
  font-size: 14px;
}
.progbanner .title {
  padding-bottom: 50px;
}
/*+2 CSS*/
.collegeChoice {
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
}
.collegebox {
  position: relative;
  flex: 30%;
  height: 300px;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 5px #999, -1px -1px #999;
  transition-delay: 300ms;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.collegebox:hover {
  box-shadow: 2px 2px 10px 2px rgba(158, 192, 202, 0.7),
    -2px -2px 10px 2px rgba(158, 192, 202, 0.7);
}
.boxfront {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}
.boxfront img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms;
}
.boxfront img:hover {
  transform: scale(1.1);
}
.boxfront .text {
  width: 100%;
  position: absolute;
  bottom: 0px;
  backface-visibility: hidden;
  z-index: 1;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #000;
  color: #fff;
}
.boxfront .text p {
  margin-bottom: 0px;
}
.boxfront p:nth-child(2) {
  opacity: 0.5;
}
.boxback {
  background-color: #005ba1;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  z-index: 2;
  padding: 10px 10px 10px 20px;
  color: #000;
}
.collegePrograms {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e9ebed;
}
.collegePrograms .title {
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .collegebox {
    flex: 100%;
    margin-left: 0px;
  }
}
/* Bachleors Css */
.bachleorsPrograms {
  padding: 50px 0px;
  background-color: #d3d8dd;
}
.bachleorsChoice {
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.bachleorsPrograms .title {
  padding-bottom: 20px;
}
/*Masters Css */
.mastersPrograms {
  padding: 50px 0px;
  background-color: #b1bdca;
}
.mastersChoice {
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.mastersPrograms .title {
  padding-bottom: 20px;
}
/*course banner css */
.coursebanner {
  padding-top: 150px;
  padding-bottom: 200px;
  background-image: url("../Pics/Management.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.coursebanner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.coursebanner .title {
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}
.coursebanner .title::after {
  content: "";
  background-color: #fff;
  height: 2px;
  width: 25%;
  position: absolute;
}
.coursebanner a {
  position: relative;
  background-color: #005ca1;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 30px;
  border: 0px;
  border-radius: 0px;
  transition-delay: 300ms;
}
.coursebanner a::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 20px;
  font-size: 14px;
}
/*courses css*/
.courses {
  padding: 50px 0px;
}
.aboutFaculty {
  padding-left: 50px;
  flex: 30%;
}
.aboutFaculty ul {
  padding-left: 20px;
}
.coursestext {
  display: flex;
  flex-wrap: wrap;
}
.coursestext .text {
  flex: 70%;
}
.facultyBox {
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.facultyBox:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
}
/* about course CSS */
.aboutCourse {
  padding: 50px 0px;
  background-color: #bbb;
  background-position: center;
}
.aboutCourse ul {
  list-style: none;
  padding-left: 0px;
}
.aboutCourse ul li::before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 10px;
}
div#first {
  display: none;
  overflow-x: auto;
}
.aboutCourse table tr {
  padding-top: 5px;
  background-color: #e9ebed;
}
.aboutCourse table td,
.aboutCourse table th {
  padding-left: 20px;
}
.aboutCourse table tr:nth-child(even) {
  background-color: #b1bdca;
}
.aboutCourse table tr:first-child {
  background-color: #005ba1;
  color: #fff;
}
.twelve h5 {
  padding-top: 10px;
}
.aboutCourse button {
  background: transparent;
  border: none;
  padding: 10px 0px;
  outline: none;
}
.aboutCourse button:focus {
  outline: none;
}
.aboutCourse button:hover {
  color: #00f;
}
button#close1 {
  display: none;
}
button#close2 {
  display: none;
}
div#second {
  display: none;
}
.criteria {
  padding: 20px 0px 10px 0px;
}
.aboutCourse ul li {
  padding-top: 10px;
}
ul#faculty {
  display: none;
}
h4 {
  color: #005ba1;
}
/*Objective CSS */
.onjective {
  padding: 50px 0px;
}
.inObjevtive {
  display: flex;
  flex-wrap: wrap;
}
.inObjevtive .objImg {
  flex: 40%;
}
.inObjevtive .objText {
  flex: 60%;
  padding-left: 20px;
}
.inObjevtive .objImg img {
  width: 100%;
}
@media (max-width: 768px) {
  .inObjevtive .objImg,
  .inObjevtive .objText {
    flex: 100%;
  }
}
/*events css*/
.eventBanner {
  padding-top: 150px;
  padding-bottom: 200px;
  background-image: url("../Pics/news3.jpg");
  background-size: cover;
  position: relative;
}
.eventBanner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.eventBanner .title,
.eventBanner .title h3 {
  color: #fff;
  position: relative;
}
/*eventlist CSS*/
.eventslist {
  padding: 50px 0px;
}
.eventslist .title {
  padding-bottom: 30px;
}
.eventslider-cont1 {
  background-image: url("../Pics/news1.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}
.eventslidetext {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.eventslidetext h4 {
  color: #fff;
}
.eventslidetext p {
  padding-top: 20px;
}
.eventslidetext .c {
  background: transparent;
  width: 100%;
  border: solid 1px #fff;
  outline: none;
  transition: opacity 1s ease-in-out;
}
.eventslidetext .c:focus {
  border: solid 1px #fff;
  outline: none;
  background-color: transparent;
}
.eventslidetext .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border: solid 1px #fff;
  outline: none;
  background-color: transparent;
}
.eventslidetext .c:hover {
  background-color: transparent;
  opacity: 0.5;
  outline: none;
  border: solid 1px #fff;
}
.eventslider-cont2 {
  background-image: url("../Pics/news2.jpg");
  background-size: cover;
  background-position: right;
  margin-left: 10px;
}
.eventslider-cont3 {
  background-image: url("../Pics/news3.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}
.eventslist .slick-next:before {
  color: #000;
  font-size: 25px;
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.eventslist .slick-prev:before {
  color: #000;
  font-size: 25px;
  content: "\f100";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
@media (max-width: 768px) {
  .eventslidetext {
    width: 100%;
  }
}
/* Calender CSS */
.eventCalender {
  padding-top: 50px;
  padding-bottom: 450px;
}
.eventCalender .cld-main {
  width: 100%;
  height: fit-content;
}
.eventCalender .cld-main ul li {
  background-color: rgb(70, 82, 194);
  color: #fff;
}
.eventCalender .cld-main ul li a {
  color: #fff;
  font-weight: 600;
}
.eventCalender .cld-main ul {
  height: fit-content;
}
.eventCalender .cld-main .cld-number.eventday:hover {
  background-color: inherit;
}
.eventCalender .title {
  padding-bottom: 20px;
}
.eventCalender .cld-day.today {
  border: solid 1px #000;
}
/*Gallery Banner CSS */
.galleryBanner {
  padding-top: 150px;
  padding-bottom: 250px;
  background-image: url("../Pics/Gallery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 30%;
  color: #fff;
}
/*Gallery image CSS */
.gallerypic {
  padding: 50px 0px;
}
.gallerypic .title {
  padding-bottom: 20px;
}
.gallerySlide-main {
  padding-top: 20px;
}
.gallerySlide-nav {
  padding-top: 20px;
}
.gallerySlide-main img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  position: relative;
}
.gallerySlide-nav img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.gallerySlide-nav .slick-prev:before {
  color: #000;
  content: "\f100";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.gallerySlide-nav .slick-next:before {
  color: #000;
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.gallerySlide-main .slick-dots {
  bottom: 0px;
}
.gallerySlide-main .slick-dots li button::before {
  font-family: none;
  border: 2px solid #fff;
  content: "";
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.gallerySlide-main .slick-dots li button:hover:before,
.gallerySlide-main .slick-dots li button:focus:before,
.gallerypic .gallerySlide-main .slick-dots li.slick-active button:before{
  background-color: #fff;
  opacity: 1;
}
/*Contact Us banner */
.contactUsBanner {
  padding-top: 150px;
  padding-bottom: 200px;
  background-image: url("../Pics/Contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contactUsBanner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.contactUsBanner .title {
  position: relative;
  color: #fff;
}
.contactUsBanner .title h3 {
  color: #fff;
}
.contactUsBanner {
  padding-top: 150px;
  padding-bottom: 200px;
  background-image: url("../Pics/Contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contactUsBanner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.contactUsBanner .title {
  position: relative;
  color: #fff;
}
.contactUsBanner .title h3 {
  color: #fff;
}
/*ContactDetails CSS */
.contactDetails {
  padding: 50px 0px;
}
.contactBox {
  display: flex;
  flex-wrap: wrap;
}
.contactText {
  flex: 30%;
  padding-left: 40px;
}
div#contactInfo1 {
  background-color: #f7f6f5;
}
div#contactInfo2,
div#contactInfo3,
div#contactInfo4,
div#contactInfo5 {
  display: none;
  background-color: #f7f6f5;
}
.contactText button {
  position: relative;
  width: 100%;
  transition: opacity 1s ease-in-out;
  background-color: #f7f6f5;
  border: none;
  border-bottom: solid 1px #fff;
}
.contactText button:focus {
  outline: none;
  border-bottom: solid 1px #333;
}
i#rotate1,
i#rotate2,
i#rotate3,
i#rotate4,
i#rotate5 {
  position: absolute;
  right: 0;
  font-size: 30px;
  top: -12px;
}
.contactText ul {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
  border: solid 1px #fff;
}
.contactText ul li {
  padding-top: 5px;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .contactImg,
  .contactText {
    flex: 100%;
  }
  .contactText {
    padding-left: 0px;
    padding-top: 10px;
  }
}
/*Contact Form CSS*/
.contactForm {
  padding: 0px 20px;
  background-color: #b1bdca;
  flex: 70%;
}
.inContactForm {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.inContactForm span {
  flex: 50%;
  padding: 10px 0px;
}
.inContactForm span label {
  width: 25%;
}
.inContactForm span input {
  width: 65%;
}
.inContactForm button {
  flex: none;
  display: block;
  padding: 10px 15px;
  transition-delay: 300ms;
}
.inContactForm textarea {
  width: 90%;
}
@media (max-width: 768px) {
  .inContactForm span {
    flex: 100%;
  }
  .inContactForm textarea {
    width: 50%;
  }
}
.inContactForm span:nth-child(7) label {
  width: 100%;
}
.inContactForm span:nth-child(8) img {
  width: 100%;
  padding-top: 20px;
  height: 100%;
}
/*Blogs Banner*/
.blogBanner {
  padding-top: 150px;
  padding-bottom: 250px;
  background-image: url("../Pics/blog-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.blogBanner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}
.blogBanner .title {
  color: #fff;
  position: relative;
}
.blogBanner .title h3 {
  color: #fff;
}
/*Our Blogs*/
.ourblogs {
  padding: 50px 0px;
  background-color: #e9ebed;
}
.blogBox {
  margin-bottom: 40px;
  background-color: #fff;
  padding-bottom: 20px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 400ms ease-in-out;
}
.blogBox:hover {
  box-shadow: 3px 3px 10px 8px rgba(0, 0, 0, 0.2);
}
.ourblogs .blogBox img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.ourblogs .blogBox ul li {
  display: inline-block;
  padding-left: 40px;
  padding-top: 10px;
  opacity: 0.7;
  position: relative;
}
.ourblogs .blogBox ul {
  padding-left: 0px;
}
.ourblogs .blogBox .blogBoxText {
  padding-left: 20px;
}
.ourblogs .blogBox ul li:first-child::before {
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 20px;
}
.ourblogs .blogBox ul li:nth-child(2):before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 20px;
}
.ourblogs .blogBox ul li:last-child::before {
  content: "\f086";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 20px;
}
.ourblogs .blogBox ul li a {
  color: #000;
}
.ourblogs .blogPageList ul li {
  padding-top: 5px;
}
.ourblogs .blogPageList ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-right: 10px;
}
.ourblogs .blogPageList ul li:hover {
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
}
.ourblogs .blogPageList ul li a {
  margin-top: 20px;
}
